.main-chat
  .main-chat__group-info
    .main-top
      .main-top__group
        テスト
      .main-top__list
        asuka
    .main-edit
      = link_to "#" do
        .main-edit__button
          Edit
  .main-chat__message-list
    .list
      .list-box
        .list-box__name
          asuka
        .list-box__daytime
          20-06-30-13-00
      .list__tweet
        test-test-test-test
  .main-chat__message-form
    .form
      .form-content
        %input.form-content__text{"placeholder": "type a message", "type": "text"}
        .form-content__image
          = link_to "#" do
            = icon('far', 'image', class: "form-content__icon")
      %input.form__btn{"name": "commit", "type": "submit", "value": "Send"}