.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        asuka
      .top-items__icon
        = link_to "#" do
          = icon('far', 'edit', class: "Contents__btn")
        = link_to "#" do
          = icon('fas', 'cog', class: "Contents__btn")
  .side-bar__group-list
    .second-items
      .second-items__name
        テックキャンプ
      .second-items__message
        まだメッセージはありません